body {
    font-size: 16px;
    color: #e92f43;
    background-attachment: scroll;
}

/** ---------- ENCABEZADO -------------- */

/** ---- Barra de navegación ---- */

#encabezado {
    background-color: white;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
}

#logo {
    width: 70px;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.texto_item {
    display: block;
    padding-top: 45px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    text-decoration: none;
    color: #e92f43;
    font-weight: bold;
    border: 0;
    background: 0;
}

.nav-item:hover, .texto_item:hover {
    background-color: #e92f43;
    color: white;
}

.logo-ibero {
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    padding: 0;
    margin-right: 10px;
}

/** ---- Fin Barra de navegación ---- */

/** ---------- FIN DEL ENCABEZADO -------------- */


/** ---------- CUERPO DE LA PÁGINA PRINCIPAL -------------- */


#logo-compus {
    background: url(https://www.sis.uia.mx/images/main/fondo_desktop.jpg) no-repeat;
    background-position: center;
    height: 600px;
    background-attachment: fixed;
}

#logo-compus div {
    color: #e92f43;
    height: 400px;
    position: relative;

}

#logo-compus div button {
    background-color: rgb(0, 0, 0);
    text-align: center;
    opacity: .5;
    color:#e92f43;
    width: 100%;
    font-weight: bolder;
    font-size: 2em;
}

#logo-compus div button:hover {
    color: white;
    text-align: center;
    background-color: #e92f43;
    cursor: default;
}

.logo-computo {
    margin-top: 60px;
    width: 900px;
}

#contenido-principal p {
    background-color: black;
    opacity: 0.7;
    color: white;
    font-weight: bold;
    height: 200px;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}

p span {
    color:#e92f43;
    font-weight: bolder;
}

.row h2 {
    padding-top: 100px;
    margin-bottom: 40px;
}

#servicios-row {
    margin-top: 50px;
}

rect {
    width:100%; 
    height:100%;
}




/** ---------- FIN DEL CUERPO DE LA PÁGINA PRINCIPAL -------------- */


/** --> MEDIA QUERIES PARA DISPOSITIVOS PEQUEÑOS <-- */

@media (max-width: 479px) {

    .row h2 {
        padding-top: 10px;
    }
}
